*,::before,::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    margin: 0;
}

header{
    padding: 16px;
}
div.header{
    text-align: center;
}

main{
    padding: 16px;
}
div.showWinner,
div.showHandResult{
    text-align: center;
    
}

div.handSelection{
    display: flex;
    justify-content: center;
    gap: 10px;
}
div.handSelection > div{
}

div.playerSelectionContainer,
div.computerSelectionContainer{
    text-align: center;
}

div.playerSelection,
div.computerSelection{
    font-size: 100px;
}

div.playerChoices{
    display:flex;
    justify-content: center;
    gap: 10px;
}

div.playerChoices > div{
    font-size: 100px;
    cursor: pointer;
}

div.restartButtonContainer{
    display: flex;
    justify-content: center;
}

div.restartButton{
    padding: 10px;
    cursor: pointer;
}
